@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: 'Source Serif Pro', serif;
}

h1 {
    font-weight: normal;
    font-size: 2em;
}

h1 > .subtitle {
    font-size: 0.75em;
    font-style: italic;
}

#content, #postamble {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.title, .subtitle {
    text-align: center;
}

@media (max-width: 768px) {
    #content, #postamble {
        width: 80%;
        margin: 0 auto;
    }
}
